.fourth-section {
  margin-top: 100px;
  width: 100%;
  background-color: var(--fifth-color);
  text-align: center; }
  .fourth-section .fourth-section-txt {
    width: 42%;
    margin: 0 auto;
    padding-top: 30px; }
    .fourth-section .fourth-section-txt p {
      color: var(--main-color);
      font-family: 'Open Sans';
      font-weight: bold; }
    .fourth-section .fourth-section-txt h1 {
      font-weight: bold;
      font-family: 'Open Sans';
      color: var(--black); }
    .fourth-section .fourth-section-txt h4 {
      color: var(--fourth-color);
      font-family: 'Open Sans'; }
  .fourth-section .menu {
    max-width: calc(1920px-2 * 280px);
    display: flex;
    margin: 0 auto; }
    .fourth-section .menu .menu-item {
      margin-top: 50px;
      color: var(--lightGrey);
      font-family: 'Open Sans';
      font-weight: bold;
      padding: 20px;
      border-bottom: 3px solid var(--lightGrey);
      font-size: 25px; }
      .fourth-section .menu .menu-item:hover {
        border-bottom: solid 3px var(--main-color);
        color: var(--main-color); }
  .fourth-section .menu-slider {
    margin-top: 50px;
    width: 100%;
    display: flex; }
    .fourth-section .menu-slider .slider-img {
      width: 50%; }
      .fourth-section .menu-slider .slider-img img {
        width: 80%; }
    .fourth-section .menu-slider .menu-slider-txt {
      width: 50%;
      text-align: initial; }
      .fourth-section .menu-slider .menu-slider-txt .lightboxBtn {
        font-weight: bold;
        font-family: 'Open Sans';
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 150px;
        border-radius: 2rem;
        color: var(--secondary-color);
        background-color: var(--main-color); }
      .fourth-section .menu-slider .menu-slider-txt h1 {
        color: var(--black);
        font-family: 'Open Sans'; }
      .fourth-section .menu-slider .menu-slider-txt p {
        color: var(--fourth-color);
        font-family: 'Open Sans'; }
      .fourth-section .menu-slider .menu-slider-txt li {
        list-style-type: square;
        font-family: 'Open Sans'; }

.activeMenu {
  border-bottom: solid 3px var(--main-color) !important;
  color: var(--main-color) !important; }
