li { color: var(--main-color); }
li span { color: var(--fourth-color); } 
.fifth-section{
    margin-top: 100px;
    width: 100%;
    // height: 50vh;
    display: flex;
    
    .fifth-section-txt{

        // .signUpBtn{
        //     font-weight: bold;
        //     font-family: 'Open Sans';
        //     text-align: center;
        //     padding-top: 10px;
        //     padding-bottom: 10px;
        //     width: 150px;
        //     border-radius: 2rem;
        //     color: var(--secondary-color);
        //     background-color: var(--main-color);

        //     &:hover{
        //         border: var(--secondary-color);
        //         cursor: pointer;
        //         background-color: var(--main-color);
        //     }
        // }
        h1{
            color: var(--black);
            font-family: 'Open Sans'; 
        }
        p{
            color: var(--fourth-color);
            font-family: 'Open Sans';
        }
        li{
            list-style-type: square;
           font-family: 'Open Sans';
           
         
        }

    }
    .fifth-section-img{

        img{
            width: 500px;
            padding-bottom: 15px;
        }
    }
}