.fourth-section{
    margin-top: 100px;
    // height: 90vh;
    width: 100%;
    background-color: var(--fifth-color);
    text-align: center;
    .fourth-section-txt{
        width: 42%;
        margin: 0 auto;
        padding-top: 30px;

        p{
            color: var(--main-color);
            font-family: 'Open Sans';
            font-weight: bold;
        }
        h1{
            font-weight: bold;
            font-family: 'Open Sans';
            color: var(--black);
        }
        h4{
            color: var(--fourth-color);
            // font-weight: bold;
            font-family: 'Open Sans';
        }
    }

    .menu{
       max-width: calc(1920px-2 * 280px);
        display: flex;
        margin: 0 auto;
       .menu-item{
           margin-top: 50px;
           color: var(--lightGrey);
           font-family: 'Open Sans';
           font-weight: bold;
            padding: 20px;
           border-bottom: 3px solid var(--lightGrey);
           font-size: 25px;

           &:hover{
               border-bottom: solid 3px var(--main-color);
               color: var(--main-color);
           }
       }

       
    }

    .menu-slider{
        margin-top: 50px;
        width: 100%;
        display: flex;
        .slider-img{
            width: 50%;
            img{
                width: 80%;
            }
        }
        .menu-slider-txt{
            width: 50%;
            text-align: initial;
            .lightboxBtn{
                font-weight: bold;
                font-family: 'Open Sans';
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 150px;
                border-radius: 2rem;
                color: var(--secondary-color);
                background-color: var(--main-color);
                // padding:10px 30px 10px 30px;
            }
            h1{
                color: var(--black);
                font-family: 'Open Sans';
            }
            p{
                color: var(--fourth-color);
                font-family: 'Open Sans';
            }

            li{
                list-style-type: square;
               font-family: 'Open Sans';
               
             
            }
        }
    }
}
.activeMenu{
    border-bottom: solid 3px var(--main-color) !important;
    color: var(--main-color) !important;
}