.seventh-section{
    text-align: center;
    // height: 100vh;
    h3{
        color: var(--main-color);
        font-family: var(--main-color);
        font-family: 'Open Sans';
    }
    h1{
        color: var(--black);
        font-family: 'Open Sans';
    }
    
    .payment-package-section{
        // background-color: wheat;
        width: 100%;
        height: 50%;
        display: flex;

       

        .payment-package-card{
            margin: 0 auto;
            border: solid 1px var(--lightGrey);
            width: 30%;
            height: 100%;
            border-radius: 0.5rem;

            .card-details{
                display: inline;
                h1{
                    display: block;
                    font-family: 'Open Sans';
                    font-size: 16px;
                    font-weight: normal;
                }
            }

            .card-txt{
                width: 80%;
                height: 40%;
                background-color: white;
                margin: 0 auto;
                border-bottom: solid 1px var(--lightGrey);
                
                h2{
                    padding-top: 20px;
                    color: var(--main-color);
                    font-family: 'Open Sans';
                }
                h1{
                    color: var(--black);
                    font-family: 'Open Sans';
                    font-size: 40px;
                    margin-bottom: 0;
                }
                h3{
                    color: var(--fourth-color);
                    font-family: 'Open Sans';
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    .slider-bottom{
        // width: 80%;
        // margin: 0 auto;
        padding-top: 100px;
        display: flex;
        .sliderImg{
            text-align: left;
            img{
                width: 175px;
                border-radius: 100%;
            }
        }
        .slider-txt{
            text-align: left;
            padding-left: 30px;
            h1{
                font-size: 20px;
                font-style: italic;
                color: var(--fourth-color);
                font-weight: normal;
                font-family: 'Open Sans';
            }
            h2{
                font-size: 20px;
                font-weight: normal;
                font-family: 'Open Sans';
                font-weight: bold;
            }
        }
    }
}
.slider2Img{
    img{
       border-radius: 100% !important; 
    }
}
.dispalyflex{
    display: flex !important;
}