:root{
    --main-color: #5f4dee;
    --secondary-color: #fff;
    --third-color:#e6e6e6;
    --fourth-color:#555;
    --fifth-color:#f3f7fd;
    --black:#333;
    --lightGrey:rgb(202, 202, 202);
}
body{
    margin:0;
}
// scroll button
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 40px;
    border: none;
    outline: none;
    background-color: var(--main-color);
    color: var(--secondary-color);
    cursor: pointer;
    padding: 10px;
    border-radius:100%;
  }
  #myBtn:hover {
      opacity: 0.9;
  }
  html {
    scroll-behavior: smooth
  }
// scroll button
.button{
    border: var(--secondary-color) 2px solid ;
    border-radius: 2rem;
    background-color: var(--main-color);
    width: 130px;
    padding: 10px 0;
    color: var(--secondary-color);
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 15px;
    text-align: center;

    &:hover{
        cursor: pointer;
        background-color: var(--secondary-color);
        color: var(--main-color);
        border: 2px var(--main-color) solid;
        transition:ease 0.5s;
    }
}
.buttonCenter{
    border: var(--secondary-color) 2px solid ;
    border-radius: 2rem;
    background-color: var(--main-color);
    width: 130px;
    padding: 10px 0;
    color: var(--secondary-color);
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;

    &:hover{
        cursor: pointer;
        background-color: var(--secondary-color);
        color: var(--main-color);
        border: 2px var(--main-color) solid;
        transition:ease 0.5s;
    }
}
.activeMenu{
    border-bottom: solid 3px var(--main-color) !important;
    color: var(--main-color) !important;
}

.navbar{
    margin-top: 15px;
    z-index: 100;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px ;
    background-color: var(--main-color);
    transition: top 0.3s;

    img{
        width:75px;
        float: left;
        margin-top: 25px;
        margin-left: 14%;
    }

    ul{
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: end;
        text-align: center;
        height: 100%;
        margin-right: 14%;
        li{
            float: right !important;
            a{
                margin-top: 25px;
                text-decoration: none;
                color:var(--third-color);
                
                display: block;
                text-align: center;
                padding: 6px 30px;
                font-size: 15px;
                font-family: 'Open Sans';
                font-weight: bold;

                &:hover {
                    color: var(--secondary-color);
                }
                
            }
        } 
    }
}
.main-section{
    background-color: var(--main-color);
    height: 40vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 10 !important;
    // z-index: -1 !important;
}
.svg{
    border: none;
    // left: 0px;
    // top: 0px;
    // margin-top: -10px;
    position: absolute;
    margin-top: -20px;
}
.loginBtn{
    border: var(--secondary-color) 2px solid ;
    border-radius: 2rem;

    &:hover{
        background-color: var(--secondary-color);
        color: var(--main-color) !important;
    }
}


.container{
    display: flex;
    width: 70%;
    margin: 0 auto;

    .header-img{
        // width: 600px;
        width: 55%;
        margin-top: 5%;
    }
    .text-container{
        border: solid var(--main-color) 1px;
        width: 45%;
        height: 30vh;
        justify-content: center;
        h1{
            margin-top: 30%;
            font-family: 'Open Sans';
            font-weight: bold;
            color: white;
            font-size: 3.5rem;
            line-height: 4.125rem;
        }
        p{
            font-family: 'Open Sans';
            // font-weight: bold;
            color: white;
            font-size: 1rem !important;
            margin-bottom: 30px !important;
        }
        a{
            margin-top: 30px;
            background-color: var(--secondary-color);
            border-radius: 2rem;
            color: var(--main-color);
            padding: 15px 40px;
            font-weight: bold;
            text-decoration: none;
            font-family: 'Open Sans';
            margin-bottom: 20%;
             border:2px solid var(--secondary-color);

            &:hover{
                background-color: var(--main-color);
                cursor: pointer;
                transition: 0.5s ease;
                color: var(--secondary-color);
            }
        }
    }
}
@mixin white-gradient {
	// background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
$animationSpeed: 20s;
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}
.slider {
    margin-top: 400px !important;
	background: white;
	// box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 80%;
	
	&::before,
	&::after {
		// @include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
    &::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}
.container2{
    width: 70%;
    margin: 0 auto;
    .second-section{

        .second-section-txt{
            text-align: center;
            width:45%;
            margin: 0 auto;
            p{
                color: var(--main-color);
                font-weight: bold;
                font-family: 'Open Sans';
            }
            h1{
                font-weight: bold;
                font-family: 'Open Sans';
            }
        }
    }

    .third-section{
        width: 100%;
        display: flex;
        margin-top: 20px;
        .card{
            height: 100%;
            margin-top: 30px;
            align-items: center;
            text-align: center;
            img{
                width: 200px;
            }
            h1{
                font-family: 'Open Sans';
                font-size: 25px;
            }
            p{
                color: var(--fourth-color);
                font-family: 'Open Sans';
            }
            .card-txt{
                height: 50%;
                width: 70%;
                margin-left: 15%
            }
            .card-img{
                height: 50%;
            }
        }
    }
}

.fourth-section{
    margin-top: 100px;
    height: 90vh;
    width: 100%;
    background-color: var(--fifth-color);
    text-align: center;
    .fourth-section-txt{
        width: 42%;
        margin: 0 auto;
        padding-top: 30px;

        p{
            color: var(--main-color);
            font-family: 'Open Sans';
            font-weight: bold;
        }
        h1{
            font-weight: bold;
            font-family: 'Open Sans';
            color: var(--black);
        }
        h4{
            color: var(--fourth-color);
            // font-weight: bold;
            font-family: 'Open Sans';
        }
    }

    .menu{
       max-width: calc(1920px-2 * 280px);
        display: flex;
        margin: 0 auto;
       .menu-item{
           margin-top: 50px;
           color: var(--lightGrey);
           font-family: 'Open Sans';
           font-weight: bold;
            padding: 20px;
           border-bottom: 3px solid var(--lightGrey);
           font-size: 25px;

           &:hover{
               border-bottom: solid 3px var(--main-color);
               color: var(--main-color);
           }
       }

       
    }

    .menu-slider{
        margin-top: 50px;
        width: 100%;
        display: flex;
        .slider-img{
            width: 50%;
            img{
                width: 80%;
            }
        }
        .menu-slider-txt{
            width: 50%;
            text-align: initial;
            .lightboxBtn{
                font-weight: bold;
                font-family: 'Open Sans';
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 150px;
                border-radius: 2rem;
                color: var(--secondary-color);
                background-color: var(--main-color);
                // padding:10px 30px 10px 30px;
            }
            h1{
                color: var(--black);
                font-family: 'Open Sans';
            }
            p{
                color: var(--fourth-color);
                font-family: 'Open Sans';
            }

            li{
                list-style-type: square;
               font-family: 'Open Sans';
               
             
            }
        }
    }
}

li { color: var(--main-color); }
li span { color: var(--fourth-color); } 

.fifth-section{
    margin-top: 100px;
    width: 100%;
    height: 50vh;
    display: flex;
    
    .fifth-section-txt{

        // .signUpBtn{
        //     font-weight: bold;
        //     font-family: 'Open Sans';
        //     text-align: center;
        //     padding-top: 10px;
        //     padding-bottom: 10px;
        //     width: 150px;
        //     border-radius: 2rem;
        //     color: var(--secondary-color);
        //     background-color: var(--main-color);

        //     &:hover{
        //         border: var(--secondary-color);
        //         cursor: pointer;
        //         background-color: var(--main-color);
        //     }
        // }
        h1{
            color: var(--black);
            font-family: 'Open Sans'; 
        }
        p{
            color: var(--fourth-color);
            font-family: 'Open Sans';
        }
        li{
            list-style-type: square;
           font-family: 'Open Sans';
           
         
        }

    }
    .fifth-section-img{

        img{
            width: 500px;
        }
    }
}

.six-container{
    width: 100%;
    height: 80vh;
    background-color: var(--fifth-color);
    text-align: center;

    .video{
        width: 800px;
        height: 450px;
        background: url(../images/video-image.png);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding-top: 100px;
        border-radius: 1rem;

        .play-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--main-color);
            color: var(--fifth-color);
            font-size: 50px;
            width: 100px;
            height: 100px;
            z-index: 2;
            border-radius: 100%;
            position: relative;

            &::before{
                content: '';
                position: absolute;
                border-radius: 50%;
                border: 15px solid var(--main-color);
                top: -20px;
                bottom: -20px;
                right: -20px;
                left: -20px;
                animation: bloom1 1.5s linear infinite;
                opacity: 0;
                z-index: 1;
            }
            &::after{
                content: '';
                position: absolute;
                border-radius: 50%;
                border: 15px solid var(--main-color);
                top: -20px;
                bottom: -20px;
                right: -20px;
                left: -20px;
                animation: bloom2 1.5s linear infinite;
                opacity: 0;
                z-index: 1;
                animation-delay: 0.4s;
            }
        }
    }
}

@keyframes bloom1{
    0%{
        transform: scale(.5);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1.5);
    }
}

.txt-under-video-div{
    width: 52%;
    margin: 0 auto;
    .txt-under-video{
        font-family: 'Open Sans';
        color: var(--fourth-color);
        font-weight: normal;
    }
}

.seven-section{
    text-align: center;
    height: 100vh;
    h3{
        color: var(--main-color);
        font-family: var(--main-color);
        font-family: 'Open Sans';
    }
    h1{
        color: var(--black);
        font-family: 'Open Sans';
    }
    
    .payment-package-section{
        // background-color: wheat;
        width: 100%;
        height: 50%;
        display: flex;

       

        .payment-package-card{
            margin: 0 auto;
            border: solid 1px var(--lightGrey);
            width: 30%;
            height: 100%;
            border-radius: 0.5rem;

            .card-details{
                display: inline;
                h1{
                    display: block;
                    font-family: 'Open Sans';
                    font-size: 16px;
                    font-weight: normal;
                }
            }

            .card-txt{
                width: 80%;
                height: 40%;
                background-color: white;
                margin: 0 auto;
                border-bottom: solid 1px var(--lightGrey);
                
                h2{
                    padding-top: 20px;
                    color: var(--main-color);
                    font-family: 'Open Sans';
                }
                h1{
                    color: var(--black);
                    font-family: 'Open Sans';
                    font-size: 40px;
                    margin-bottom: 0;
                }
                h3{
                    color: var(--fourth-color);
                    font-family: 'Open Sans';
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
    .slider-bottom{
        // width: 80%;
        // margin: 0 auto;
        padding-top: 100px;
        display: flex;
        .sliderImg{
            text-align: left;
            img{
                width: 175px;
                border-radius: 100%;
            }
        }
        .slider-txt{
            text-align: left;
            padding-left: 30px;
            h1{
                font-size: 20px;
                font-style: italic;
                color: var(--fourth-color);
                font-weight: normal;
                font-family: 'Open Sans';
            }
            h2{
                font-size: 20px;
                font-weight: normal;
                font-family: 'Open Sans';
                font-weight: bold;
            }
        }
    }
}
.active {
    background-color: #717171;
  }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }  
  .dispalyflex{
      display: flex !important;
  }

  .eighth-section{
      width: 100%;
      height: 50vh;

      .contacform{
          width: 80%;
          height: 100%;
          margin: 0 auto;
          margin-top: 10px !important;
          background-color: var(--fifth-color);
          border-radius: 1rem;
          text-align: center;
        .contact-txt{

            width: 57%;
            margin: 0 auto;
          p{
              padding-top: 30px;
              color: var(--main-color);
              font-family: 'Open Sans';
              font-weight: bold;
              font-size: 13px;
          }
          h1{
              color: var(--black);
              font-family: 'Open Sans';
          }
          input{
              width: 80%;
              height: 50px;
              border: solid 1px var(--lightGrey);
              border-radius: 0.2rem;
              padding-left: 20px;
          }

            .privacyPolicy{
              padding-top: 15px;
              padding-bottom: 15px;
              width: 70%;
              margin: 0 auto;
              display: flex;
              text-align: left;
              align-items: center;
              h1{
                  font-size: 10px;
              }
              input{
                  margin: 0;
                  width: 20px;
              }
            }
            .emailButton{
                width: 80%;
                margin: 0 auto;
                padding: 20px 0;
                border-radius: 3rem;
                color: var(--secondary-color);
                font-family: 'Open Sans';
                background-color: var(--main-color);
                border: var(--main-color) 2px solid;
                font-weight: bold;

                &:hover{
                    background-color: var(--secondary-color);
                    color: var(--main-color);
                    transition: 0.5s ease;
                }
            }
        }
      }
  }

  .socialmedia{
      padding-top: 50px;
      width: 50%;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 50px;
  }

  .footer{
      width: 100%;
      height: 30vh;
      background-color: var(--main-color);
      
      .footer-info{
          width: 65%;
          height: 60%;
          margin:0 auto;
          border-bottom: solid 1px var(--fifth-color);
          display: flex;

          .footer-section{
              width: 30%;
              margin:  0 auto;
            h1{
                color: var(--secondary-color);
                font-family: 'Open Sans';
                font-weight: bold;
                font-size: 30px;
            }
            h2{
                color: var(--secondary-color);
                font-family: 'Open Sans';
                font-weight: bold;
                font-size: 15px;
            }
            ul{
                list-style-type: square;

                li{
                    color: var(--secondary-color);
                    font-family: 'Open Sans';
                    font-weight: bold;
                    font-size: 15px;
                }
            }
          }
          
     
        }
        .copyright{
            width: 100%;
            text-align: center;

            h1{
                color: var(--fifth-color);
                font-family: 'Open Sans';
                font-size: 15px;
                font-weight: normal;
            }
        }
  }
  .slider2Img{
      border-radius: 100% !important;
  }
  @media only screen and (max-width: 1400px){
    .main-section{
        height: 45vh;
    }
  }
  @media only screen and (max-width: 1100px){
      .menu-slider{
          .slider-img{
              width: 100% !important;
          }
      }
      .footer{
          height: 65vh;
      }
      .header-img{
        width: 80% !important;
      }
    .main-section{
        height: 74vh;
        .container{
            display: flex;
            flex-direction: column;

            .text-container{
                width: 100%;
                text-align: center;
                h1{
                    margin-top: 10px;
                }
            }
        }
    }
    .slider{
        margin-top: 150px!important;
    }

    .container2{
        .second-section{
            .second-section-txt{
                width: 100%;
            }
        }
    }

    .third-section{
        display: flex;
        flex-direction: column;
    }
    .fourth-section-txt{
        width: 80% !important;
        margin: 0 auto;
    }
    .menu-slider{
        display: flex;
        flex-direction: column;

        .menu-slider-txt{
            width: 100% !important;
        }
    }
    .fourth-section{
        height: 120vh;
    }
    .fifth-section{
        display: flex;
        flex-direction: column;
        height: 70vh;

        .fifth-section-img{
            padding-top: 20px;
        }
    }

    .six-container{
        height: 60vh;
        .video{
            height: 200px;
            width: auto;
        }
    }

    .payment-package-section{
        display: flex;
        flex-direction: column;

        .payment-package-card{
            width: 50% !important;
            margin: 10px auto !important;
        }
    }
    .seven-section{
        height: 230vh;
    }
    .slider-bottom{
        display: flex;
        flex-direction: column;
        .mySlides{
            display: flex;
            flex-direction: column;
            .sliderImg{
                width: 100%;
            }
            .slider-txt{
                text-align: center;
            }
            i{
                height: 10% !important;
            }
        }
        .dispalyflex{
            // display: flex;
            // flex-direction: column;
        }
        .slider2Img{
            width: 50% !important;
            margin: 0 auto !important;
            border-radius: 100%;

        }
    }
    .contacform{
        width: 100% !important;
    }
    .container2{
        width: 80%;
    }
    .footer{
        .footer-info{
            width: 90%;

            .footer-section{
                padding: 0px;
            }
        }
        .copyright{
            height: 22vh;
            margin-top: 30px;
        }
    }
  }
  .menu{
    // flex-direction: column;
    // .menu-item{
    //     border-bottom: none !important;
    //     margin-top: 0;
    // }
}

  @media  screen and (max-width: 375px){
    .slider-img{
        width: 100% !important;
    }
    .seven-section{
        height: 300vh;

        
    }
    .socialmedia{
        width: 97%;
        margin: 0 auto;
    }
    .eighth-section{
        .contacform{
            .contact-txt{
                width: 100%;
                font-size: 13px;
            }
            
        }
    }
      .payment-package-section{
            .payment-package-card{
                margin: 10px 0 !important;
                padding: 0;
                width: 100% !important;

                .card-details{
                    .buttonCenter{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    .six-container{
        height: 90vh;
    }
    .video{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fifth-section{
        height: 95vh;

        .fifth-section-img{
            img{
                width: 100%;
            }
        }
    }
      .fourth-section{
          height: 175vh;
      }
    .header-img{
        width: 70% !important;
    }
    .main-section{
        height: 64vh;
        .container{
            width: 95%;
            .text-container{
                h1{
                    font-size: 2.5rem;
                }
            }
            img{
                padding-top: 50px;
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    .menu{
        flex-direction: column;
        .menu-item{
            border-bottom: none !important;
            margin-top: 0;
        }
    }

    .footer{
        height: 100vh;

        .footer-info{
            display: flex ;
            flex-direction: column;

            .footer-section{
                width: 100%;
            }
        }
    }
  }